/* Signup.css */

/* body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
  } */
   body{
    margin: 0;
    padding: 0;
    

   }
  
  .signup-container {
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: 100vw 100vh ;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    height: 100vh
  }
  
  .signup-card {
    background-color: #fff;
    padding: 40px;
    
    padding-left: 20px;
    width: auto;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 10px;
    text-align: center;
    position: relative;
      background-image: linear-gradient(to right top, #000000, #24090f, #3f0912, #59030f, #720000);
  }
  
  .signup-card h2 {
    margin-bottom: 20px;
    color: rgba(250, 220, 163, 0.918);
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="password"] {
    width: 13vw;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #ddd;
    outline: none;
  }
  
  .checkbox-group {
    text-align: center;
    font-size: 14px;
  }
  
  .checkbox-group input[type="checkbox"] {
    margin-right: 10px;
    
  }
  .LoginText{
    
    color: rgb(241, 228, 228);
   padding: 5px;
   margin-top: 10px;
   font-family: serif;
   text-decoration: underline;
   
  }
  
  .register-button {
    width: 8vw;
    padding: 8px;
    background-color: #c0000093;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 15px;
  }
  
  .register-button:hover {
    background-color: #6e000fc0;
  }
  
  .login-link {
    margin-top: 20px;
    font-size: 14px;
    color: #684040;
  }
  